.img-responsive {
    object-fit: contain;
    padding: 3%;
    transition: transform .2s;
}

.img-responsive:hover {
    transform: scale(1.05)
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.05)
}

.navbar-brand {
    margin-left: 2%;
    color: #00529b;
}

.about {
    margin: 5%
}

.search {
    margin: 5%
}

#info {
    margin: 2%;
}

h1 {
    color: #f57836;
    margin-left: 15px;
    margin-top: 20px;
}

#dropdownMenuButton {
    color: white;
    background-color: #00529b;
}

.btn-outline-success {
    color: #00529b;
    border-color: #00529b;
}

.btn-outline-success:hover {
    background-color: #00529b;
    border-color: #00529b;
}

#searchbar {
    width: 75%;
}

.cardInfo {
    margin: 2%;
}

#imgback {
    margin: 2%;
}
